<%= league_team_breadcrumbs(@league, @team) %>
<%= enable_page_title "#{@team.name} Settings" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Team Settings' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league, team: @team %>
