<%= league_breadcrumbs(@league) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Add Team' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league, team: @team %>
