<%= league_breadcrumbs(@league) %>
<%= enable_page_title "#{@league.name} New Team" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'New Team' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league, team: @team %>
