<%= league_breadcrumbs(@league) %>

<%= content_tag :h1, @team.name, class: 'team-name' %>

<% if @icon.present? %>
  <div class="team-icon">
    <%= image_tag @icon, alt: "#{@team.name} Icon" %>
  </div>
<% end %>

<p>
  <%= link_to 'Settings', edit_league_team_path(@league, @team) %>
</p>
