<%= lineup_breadcrumbs(@league, @team, @lineup) %>
<%= enable_page_title "#{@team.name} #{@lineup.full_name} Spot" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Edit Spot' %>
    </div>
  </div>
</div>

<%= render 'form', spot: @spot, lineup: @lineup %>
