<%= lineup_breadcrumbs(@league, @team, @lineup) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Add Spot' %>
    </div>
  </div>
</div>

<%= render 'form', spot: @spot, lineup: @lineup %>
