<%= league_breadcrumbs(@league) %>
<%= enable_page_title "#{@league.name} Settings" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'League Settings' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league %>
