<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Leagues & Teams' %>
    </div>

    <% if can?(:create, new_league) %>
      <div class="second-column">
        <%= link_to 'Add League', new_league_path,
                    class: 'button button-success' %>
      </div>
    <% end %>
  </div>

  <%= leagues_nav %>
</div>

<div class="leagues cards">
  <%= render @leagues %>
</div>
