<%= breadcrumbs([['Home', root_path]]) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Add League' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league %>
