<%= breadcrumbs([['Home', root_path]]) %>
<%= enable_page_title "New League" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'New League' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league %>
