<%
  player = roster.player
  position = roster.position
%>

<div id="roster_<%= roster.id %>" class="roster-player-field draggable"
     data-id="<%= player.id %>">
  <%= render 'rosters/player', player: player, position: position,
                               show_positions: true %>
</div>
