<% show_positions = true if show_positions.nil? %>

<div id="roster_<%= roster.id %>" class="roster">
  <%= render 'rosters/player', player: roster.player, position: roster.position,
                               show_positions: show_positions %>
</div>
