<% # rosters, level, position required %>

<div id="rosters_level_<%= level %>" class="rosters-level">
  <%= render 'rosters/level_count', level: level, rosters: rosters %>

  <% Roster.level_positions(level).each do |position| %>
    <%= render 'rosters/position', team: team, level: level,
                                   position: position,
                                   rosters: rosters %>
  <% end %>
</div>
