<%= league_team_breadcrumbs(@league, @team) %>
<%= enable_page_title "#{@team.name} New Roster" %>

<div class="page-header">
  <h1>New Roster</h1>
</div>

<%= render 'form', roster: @roster, team: @team %>

<p>
  <%= link_to 'Back', team_rosters_path(@team) %>
</p>
