<%= player_breadcrumbs(@player) %>
<%= enable_page_title "#{@player.name} Contract" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Contract' %>
    </div>
  </div>
</div>

<%= render 'form', player: @player,
                   contract: @contract,
                   leagues: @leagues %>
