<table class="full-width">
  <thead>
    <tr>
      <th colspan="7">Hitters</th>
      <th colspan="4" class="vs-left">vs Lefties</th>
      <th colspan="4" class="vs-right">vs Righties</th>
      <th colspan="8" class="defense">Defense</th>
      <th class="left-border"></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Bat</th>
      <th>Spd</th>
      <th>Bnt</th>
      <th>Pos</th>
      <th>Rtg</th>
      <th>Dur</th>
      <th class="left-border">Hit</th>
      <th>OBP</th>
      <th>Slg</th>
      <th>HR</th>
      <th class="left-border">Hit</th>
      <th>OBP</th>
      <th>Slg</th>
      <th>HR</th>
      <th class="left-border no-wrap">
        C<span class="defense-bar">/Bar</span>
      </th>
      <th>1B</th>
      <th>2B</th>
      <th>3B</th>
      <th>SS</th>
      <th>OF</th>
      <th>CF</th>
      <th class=" no-wrap">
        P<span class="defense-bar">/Bar</span>
      </th>
      <th class="left-border">Contract</th>
    </tr>
  </thead>

  <tbody class="hitters">
    <% if hitters.any? %>
      <%= render hitters %>
    <% else %>
      <tr>
        <td colspan="30">No hitters yet</td>
      </tr>
    <% end %>
  </tbody>
</table>
