<div class="columns page-header">
  <div class="first-column">
    <%= content_tag :h1, 'Hitters' %>
  </div>

  <div class="second-column">
    <p>
      <%= link_to 'Add Hitter', new_hitter_path,
                  class: 'button' %>
    </p>
  </div>
</div>

<%= render 'hitters/hitters', hitters: @hitters %>
