<%= league_team_breadcrumbs(@league, @team) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Hitters' %>
    </div>
  </div>

  <%= team_nav(@team) %>
</div>

<%= render 'hitters/hitters', hitters: @hitters %>
