<%= user_breadcrumbs @user %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'User Settings' %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="first-column">
    <%= render 'form', user: @user %>
  </div>

  <div class="second-column">
    <%- if @user.id == current_user_id %>
      <%- if respond_to?(:edit_user_registration_path) %>
        <div class="devise-links">
          <h3>Helpful Links</h3>
          <%= content_tag :p, link_to('Change Password',
                                      edit_user_registration_path) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
