<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Users' %>
    </div>

    <% if can?(:create, new_user) %>
      <div class="second-column">
        <%= link_to 'Add User', new_user_path,
                    class: 'button button-success' %>
      </div>
    <% end %>
  </div>
</div>


<table class="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
      <th>Location</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
