<%= user_breadcrumbs %>
<%= enable_page_title 'New User' %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'New User' %>
    </div>
  </div>
</div>

<%= render 'form', user: @user %>
