<%= user_breadcrumbs %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Add User' %>
    </div>
  </div>
</div>

<%= render 'form', user: @user %>
