<%
  spot ||= nil
  if spot.present?
    batting_order = spot.batting_order
  else
    spot = lineup.spots.find_or_initialize_by(batting_order: batting_order)
  end
  url =
    if spot.persisted?
      lineup_spot_path(lineup, spot)
    else
      lineup_spots_path(lineup)
    end
  defense = spot.defense
%>

<% if spot.persisted? %>
  <%= render spot %>
<% else %>
  <div class="spot">
    <%= content_tag :span, batting_order, class: 'spot-batting-order' %>
    <span class="spot-hitter-and-position"></span>
    <%= content_tag :span, format_lineup_defense(nil), class: 'spot-defense' %>
  </div>
<% end %>
