<div id="bench_hitter_<%= bench_hitter.id %>" class="draggable bench-hitter"
     data-id="<%= bench_hitter.id %>">
  <%= content_tag :span, bench_hitter.roster_name, class: 'hitter-name' %>

  <div class="player-positions">
    <%= player_positions(bench_hitter) %>
  </div>
</div>
