<%= lineup_breadcrumbs(@league, @team, @lineup) %>
<%= enable_page_title "#{@team.name} #{@lineup.full_name} Options" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <h1>Lineup Options</h1>
    </div>
  </div>

  <%= team_nav(@team) %>
</div>


<%= render 'form', lineup: @lineup, team: @team %>
