<%= league_team_breadcrumbs(@league, @team) %>
<%= enable_page_title "#{@team.name} New Lineup" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <h1>New Lineup</h1>
    </div>
  </div>

  <%= team_nav(@team) %>
</div>

<%= render 'form', lineup: @lineup, team: @team %>
