<%= lineup_breadcrumbs(@league, @team) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, @lineup.full_name, class: 'lineup-name' %>
    </div>

    <div class="second-column">
      <%= link_to 'Lineup Options',
                  edit_team_lineup_path(@team, @lineup),
                  class: 'button' %>
    </div>
  </div>
</div>
