<%= league_breadcrumbs(@league) %>
<%= enable_page_title "Sort #{@league.name}" %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Sort League' %>
    </div>
  </div>
</div>

<%= render 'form', league: @league %>
