<%= enable_page_title 'Unauthorized' %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Unauthorized' %>
    </div>
  </div>
</div>

<p>
  Sorry, you are not allowed to access this page. Please contact your
  administrator to fix this issue.
</p>

<p><%= link_to 'Back', :back %></p>
