<%
  pages = players.respond_to?(:entry_name)
  page_index =
    if pages
      players.limit_value * (players.current_page - 1)
    else
      0
    end
  show_contract = true if show_contract.nil?
  highlight ||= nil
%>

<% if pages %>
  <div class="page-links">
    <%= paginate players %>
  </div>
<% end %>

<table class="players">
  <thead>
    <% if pages %>
      <tr>
        <th colspan=20><%= page_entries_info players %></th>
      </tr>
    <% end %>
    <tr>
      <th></th>
      <th class="align-left">Name</th>
      <th>Offense</th>
      <th>Pitching</th>
      <th>Defense</th>
      <% if show_contract %>
        <th class="left-border">Contract</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="players">
    <% if players.any? %>
      <% players.each_with_index do |player, table_index| %>
        <%= render player, table_index: (table_index + page_index + 1),
                           show_contract: show_contract,
                           highlight: highlight %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="30">No players yet</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if pages %>
  <div class="page-links">
    <%= paginate @players %>
  </div>
<% end %>
