<%= player_breadcrumbs(@player) %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'Player Settings' %>
    </div>
  </div>
</div>

<%= render 'form', player: @player %>
