<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'All Players' %>
    </div>

    <% if can?(:create, new_player) %>
      <div class="second-column">
        <%= link_to 'Add Player', new_player_path,
                    class: 'button button-success' %>
      </div>
    <% end %>
  </div>
</div>

<div class="columns">
  <div class="first-column">
    <%= render 'players/players', players: @players %>
  </div>

  <div class="second-column">
    <%= render 'players/filter_form', players: @players %>
  </div>
</div>
