<%= player_breadcrumbs %>
<%= enable_page_title 'New Player' %>

<div class="page-header">
  <div class="columns">
    <div class="first-column">
      <%= content_tag :h1, 'New Player' %>
    </div>
  </div>
</div>

<%= render 'form', player: @player %>
