// basic
$black: #000;
$dark-gray: #696969;
$light-gray: #e1e1e1;
// $lighter-gray: #eef3f5;
$white: #fff;

// colormind
$blue: #5678c6;
$light-blue: #7285a9;
$dark-blue: #1a274d;

$ink: #191919;
$gray: #999;
$off-white: #f6f6f6;

$teal: #74c9db;

$green: #4f9f73;
$yellow: #cc8e3b;
$red: #f44336;

$dark-green: darken($green, 10%);
$dark-yellow: darken($yellow, 10%);
$dark-red: darken($red, 10%);

$color-danger: $red;
$color-warning: $yellow;
$color-success: $green;

$color-danger-hover: $dark-red;
$color-warning-hover: darken($yellow, 5%);
$color-success-hover: darken($green, 8%);

// milligram
$color-initial: $white;
$color-primary: $blue;
$color-secondary: $light-blue;
$color-tertiary: $gray;
$color-quaternary: $dark-blue;
$color-quinary: $teal;

// layout
$background-color: $white;
$border-color: $light-gray;
$active-color: $color-quinary;
