.lineup-spots {
  .first-column,
  .second-column {
    overflow: visible;
  }

  .lineup-defense-bar {
    color: $dark-gray;
  }

  .lineup-defense {
    font-size: 2.5rem;
    line-height: 1.1;
  }

  .lineup-bar {
    font-size: 1.8rem;
    line-height: 1.1;
  }
}

.batting-spot-form {
  display: grid;
  grid-template-columns: 3.2rem 1fr 5rem;
  margin-bottom: .5rem;
  background-color: $border-color;

  &.drag-over {
    .empty-spot-hitter-field,
    .spot-hitter-field {
      border: 1px dashed $dark-gray;

      > * {
        opacity: .4;
      }
    }

    .spot-defense {
      color: $light-gray;
    }

    .spot-batting-order {
      color: $color-secondary;
    }
  }

  input,
  select {
    margin-bottom: 0;
  }

  .actions {
    margin: 0;
  }

  .spot-batting-order {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem 1rem;
    border: 0 solid $border-color;
    border-width: 1px 0 1px 1px;
    border-radius: $border-radius 0 0 $border-radius;
    background-color: $off-white;
    color: $dark-gray;
    font-family: $code-font;
    font-size: 1.4rem;
  }

  .spot-defense {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .5rem;
    border: 0 solid $border-color;
    border-width: 1px 1px 1px 0;
    border-radius: 0 $border-radius $border-radius 0;
    background-color: $off-white;
    font-size: 1.8rem;
  }
}

.empty-spot-hitter-field,
.spot-hitter-field {
  border: 1px solid $border-color;
  background-color: $white;
}

.spot-hitter-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .1rem 1rem;

  &.drag-moving {
    z-index: 5;
    border-color: $gray;
    background-color: $off-white;
  }
}

.spot-hitter-positions {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  label,
  .destroy-link,
  .missing-spot-position {
    min-width: 3rem;
    margin: .5rem 0 .5rem .5rem;
    padding: .1rem .5rem;
    border: 1px solid $gray;
    border-radius: $border-radius;
    color: $dark-gray;
    font-size: 1.4rem;
    text-align: center;
  }

  label,
  .destroy-link {
    &:hover {
      border-color: $color-secondary;
      background-color: $off-white;
      color: $color-secondary;
    }

    &.active {
      border-color: $active-color;
      background-color: rgba($active-color, .1);
      color: $active-color;
    }
  }

  input {
    display: none;
  }

  .missing-spot-position {
    border-color: $off-white;
    color: $light-gray;
  }

  .destroy-link {
    color: $color-warning;

    &:hover {
      border-color: $color-warning-hover;
      color: $color-warning-hover;
    }

    &.disabled {
      border-color: $light-gray;
      color: $gray;
    }
  }

  &.highlight {
    label {
      border-color: rgba($color-warning, .4);
      color: $color-warning;

      &:hover {
        border-color: rgba($color-warning, .8);
        color: $color-warning-hover;
      }
    }
  }
}

.player-position {
  color: $dark-gray;
  font-weight: bold;
}

.players {
  .player-position {
    &:not(first-child) {
      margin-left: 1rem;
    }
  }
}

.bench-hitter {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  margin: .5rem;
  padding: .5rem .5rem .5rem 1rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $white;

  &.drag-moving {
    z-index: 5;
    border-color: $gray;
    background-color: $off-white;
  }

  .player-positions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-position {
    padding: .2rem .5rem;
    font-size: 1.4rem;
    text-align: center;

    &:not(first-child) {
      margin-left: .5rem;
    }
  }
}

.lineup-bench {
  position: relative;
  z-index: 1;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $off-white;
}

.lineup-defense {
  color: $gray;

  .defense-low {
    color: $red;
  }

  .defense-close {
    color: $yellow;
  }

  .defense-sufficient {
    color: $green;
  }
}

.lineups {
  .card-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    p {
      margin: 0 0 0 .5rem;
    }

    .lineup-defense {
      font-size: 2rem;
    }
  }

  .spot {
    display: grid;
    grid-template-columns: auto 5fr 1fr;
    align-items: stretch;
    column-gap: .5rem;
    border-bottom: 1px solid $border-color;
  }

  .spot-batting-order {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .5rem;
    color: $gray;
    font-family: $code-font;
    font-size: 1.2rem;
  }

  .spot-hitter-and-position {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .2rem .5rem .2rem 0;
  }

  .spot-hitter {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .spot-position {
    margin-left: .5rem;
    color: $dark-gray;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .spot-defense {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem .5rem;
    border-left: 1px solid $border-color;
    background-color: $off-white;
    font-size: 1.8rem;
  }
}
