.page-links {
  margin-bottom: 1.5rem;

  &:empty {
    display: none;
  }
}

.pagination {
  text-align: center;

  .button {
    height: 2.5rem;
    padding: 0 1rem;
    line-height: 2.5rem;
  }

  .gap {
    color: $gray;
  }
}
