.page-header {
  .player-primary-position {
    margin-left: 1rem;
    color: $gray;
    font-weight: bold;
  }
}

.player-info {
  dd {
    font-weight: bold;
  }

  .player-positions {
    display: flex;
    align-items: center;

    .player-position {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.player-position {
  font-weight: bold;
  white-space: nowrap;

  .player-position-defense {
    font-weight: normal;
  }

  &:not(:last-child) {
    margin-right: .75rem;
  }
}

.players {
  .player-positions {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.filter-toggle-link {
  &.toggle-on {
    display: none;
  }

  &.toggle-off {
    display: inline-block;
  }
}

.filters-wrapper {
  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }
}

.rosters-level,
.rosterless-players {
  .player-offensive-rating,
  .player-left-hitting,
  .player-right-hitting,
  .player-starting-pitching,
  .player-relief-pitching {
    display: flex;
    align-items: baseline;

    &::before {
      display: inline-block;
      margin-right: .25rem;
      color: $gray;
      font-size: 80%;
      text-transform: uppercase;
    }
  }

  .player-offensive-rating {
    &::before {
      content: 'Rtg';
    }
  }

  .player-left-hitting {
    &::before {
      content: 'LH';
    }
  }

  .player-right-hitting {
    &::before {
      content: 'RH';
    }
  }

  .player-starting-pitching {
    &::before {
      content: 'SP';
    }
  }

  .player-relief-pitching {
    &::before {
      content: 'RP';
    }
  }
}

.player-left-hitting,
.player-right-hitting,
.player-relief-pitching {
  margin-left: 1rem;
}

.player-starting-pitching,
.player-relief-pitching {
  .rating-missing {
    color: $light-gray;
  }

  .rating-0 {
    color: $color-quinary;
  }

  .rating-50 {
    color: $dark-blue;
  }

  .rating-60 {
    color: $dark-yellow;
  }

  .rating-70 {
    color: $yellow;
  }

  .rating-80 {
    color: $red;
  }

  .rating-90 {
    color: $dark-red;
  }
}

.player-offensive-rating,
.player-left-hitting,
.player-right-hitting {
  .rating-missing {
    color: $light-gray;
  }

  .rating-0 {
    color: $color-quinary;
  }

  .rating-50 {
    color: $dark-blue;
  }

  .rating-60 {
    color: $dark-yellow;
  }

  .rating-70 {
    color: $yellow;
  }

  .rating-80 {
    color: $red;
  }

  .rating-90 {
    color: $dark-red;
  }
}

.rosterless-player {
  .player-position {
    color: $dark-gray;
  }
}

.roster-player {
  .player-name-and-positions {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .player-name-wrapper {
    display: flex;
    align-items: baseline;
  }

  .player-bats,
  .player-throws {
    margin-left: .5rem;
    color: $gray;
    font-size: 80%;
  }

  .player-ratings {
    display: flex;
    align-items: center;
  }
}

.roster-position-form {
  .roster-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .player-ratings {
    margin-left: 1rem;
  }
}
