table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;

  .hitter-name,
  .roster-name {
    white-space: nowrap;
  }

  // sticky thead and first column
  // https://css-tricks.com/a-table-with-both-a-sticky-header-and-a-sticky-first-column/
  &.full-width {
    min-width: 100%;

    thead {
      position: sticky;
      z-index: 3;
      top: 0;
      left: 0;
    }

    tbody td {
      position: relative;
      z-index: 1;

      &:first-child {
        position: sticky;
        z-index: 2;
        top: 0;
        left: 0;
        border-right: 1px solid $light-gray;
      }
    }
  }
}

thead {
  th {
    &.vs-left,
    &.defense {
      border-left: 1px solid $light-gray;
      background-color: $light-gray;
    }
  }

  tr {
    background-color: $off-white;

    &:last-child {
      background-color: $color-quaternary;
      color: $off-white;

      .left-border {
        border-left: 1px solid $dark-gray;
      }
    }
  }
}

tbody {
  border: 1px solid $light-gray;
  border-width: 0 1px;

  td {
    &.left-border {
      border-left: 1px solid $gray;
    }
  }

  tr {
    border-bottom: 1px solid $light-gray;

    td {
      background-color: $background-color;
    }

    &:nth-child(2n + 1) {
      td {
        background-color: $off-white;
      }
    }
  }
}

td,
th {
  padding: .5rem;
}

th {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;

  &:first-child {
    text-align: left;
  }
}

td {
  border-width: 2px;
  border-color: $border-color;
  font-size: 1.4rem;
  text-align: center;

  &:first-child {
    text-align: left;
  }
}
